install
url --url http://centos-mirror.jchost.net/6.7/os/x86_64/ 
repo --name updates --baseurl=http://centos-mirror.jchost.net/6.7/updates/x86_64/

# for too new hardware 
unsupported_hardware

text
skipx
bootloader

firewall --disabled
selinux --disabled
firstboot --disabled

lang en_US.UTF-8
keyboard us 
timezone --utc Etc/UTC

zerombr
clearpart --all --initlabel
part /boot --size=250
part swap --hibernation
part / --size=3000 --grow 

rootpw vagrant
authconfig --enableshadow --passalgo=sha512
user --name=vagrant --groups=vagrant --password=vagrant

reboot

%packages --nobase
@core
-*firmware
-b43-openfwwf
-efibootmgr
-audit*
-libX*
-fontconfig
-freetype
sudo
openssh-clients
openssh-server
gcc
make
perl
kernel-firmware
kernel-devel
%end

%post
echo 'vagrant             ALL=(ALL)   NOPASSWD: ALL' >> /etc/sudoers.d/vagrant
echo 'Defaults:vagrant    env_keep += SSH_AUTH_SOCK' >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant
sed -i 's/^.*requiretty/#Defaults requiretty/' /etc/sudoers
sed -i 's/rhgb //' /boot/grub/grub.conf
%end
